.vagrant

.DS_Store

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.sublime-project
*.sublime-workspace

metadata.json
tmp/

Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml
